[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.0.2"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
requests = "*"
pylint-flask = "*"
pylint = "*"
gunicorn = "*"
heroku = "*"

[requires]
python_version = "3.8"
